{% assign thisRecipe = include.recipe %}
<div class="center ml2 mr2 flex flex-wrap items-center gap-4">

  {% if thisRecipe.preptime %}
  <div class="flex items-center gap-2">
    <svg class="gray w-6 h-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
      <circle cx="256" cy="256" r="256"/>
      <rect x="246.21" y="52.09" width="19.58" height="214.26" rx="9.79" fill="#fff"/>
      <rect x="290.06" y="228.55" width="19.58" height="143.63" rx="9.79" transform="translate(724.26 300.72) rotate(135)" fill="#fff"/>
    </svg>
    <span class="blue caps font-medium">Prep:</span>
    <span class="text-gray-700 nowrap" id="prepTime_{{ thisRecipe.id }}" data-iso8601="{{ thisRecipe.preptime | upcase }}"></span>
  </div>
  {% endif %}

  {% if thisRecipe.cooktime %}
  <div class="flex items-center gap-2">
    <svg class="gray w-6 h-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
      <circle cx="256" cy="256" r="256"/>
      <rect x="246.21" y="52.09" width="19.58" height="214.26" rx="9.79" fill="#fff"/>
      <rect x="290.06" y="228.55" width="19.58" height="143.63" rx="9.79" transform="translate(724.26 300.72) rotate(135)" fill="#fff"/>
    </svg>
    <span class="blue caps font-medium">Cook:</span>
    <span class="text-gray-700 nowrap" id="cookTime_{{ thisRecipe.id }}" data-iso8601="{{ thisRecipe.cooktime | upcase }}"></span>
  </div>
  {% endif %}

  {% if thisRecipe.totaltime %}
  <div class="flex items-center gap-2">
    <svg class="gray w-6 h-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
      <circle cx="256" cy="256" r="256"/>
      <rect x="246.21" y="52.09" width="19.58" height="214.26" rx="9.79" fill="#fff"/>
      <rect x="290.06" y="228.55" width="19.58" height="143.63" rx="9.79" transform="translate(724.26 300.72) rotate(135)" fill="#fff"/>
    </svg>
    <span class="blue caps font-medium">Total:</span>
    <span class="text-gray-700 nowrap" id="totalTime_{{ thisRecipe.id }}" data-iso8601="{{ thisRecipe.totaltime | upcase }}"></span>
  </div>
  {% endif %}

  {% if thisRecipe.activetime %}
  <div class="flex items-center gap-2">
    <svg class="gray w-6 h-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
      <circle cx="256" cy="256" r="256"/>
      <rect x="246.21" y="52.09" width="19.58" height="214.26" rx="9.79" fill="#fff"/>
      <rect x="290.06" y="228.55" width="19.58" height="143.63" rx="9.79" transform="translate(724.26 300.72) rotate(135)" fill="#fff"/>
    </svg>
    <span class="blue caps font-medium">Active:</span>
    <span class="text-gray-700 nowrap" id="activeTime_{{ thisRecipe.id }}" data-iso8601="{{ thisRecipe.activetime | upcase }}"></span>
  </div>
  {% endif %}

</div>
{% assign thisRecipe = nil %}
