---
layout: default
---
{% assign pageAuthor = site.data.people[page.author] %}

<div class="max-w-6xl mx-auto px-4 py-8">
  <article class="post-content mb-8">
    <h1 class="text-3xl font-gelica mb-4">{{ page.title }}</h1>
    {{ content }}
  </article>

  <section>
    <div class="components bg-darken-2 px-4 mb-4 text-2xl">
      Recipes in this book
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {% assign bookid = page.id | split: '/' | last %}
      {% for recipe in site.recipes %}
        {% if recipe.books contains bookid %}
          <a class="recipe flex flex-col md:flex-row items-center gap-4 p-4 bg-white rounded-xl shadow hover:shadow-lg transition" href="{{ recipe.url | relative_url }}">
            {% if recipe.image %}
              <canvas class="aspect-video w-full md:w-48 rounded-xl bg-gray-100 mb-2 md:mb-0 bg-cover bg-center"
                style="background-image:url({{ site.baseurl }}/images/{{ recipe.image }});">
              </canvas>
            {% endif %}
            
            <div class="flex-1">
              <div class="flex items-center space-x-2 mb-1">
                {% if recipe.totaltime %}
                  <svg class="gray flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 512 512" fill="currentColor">
                    <circle cx="256" cy="256" r="256"/>
                    <rect x="246.21" y="52.09" width="19.58" height="214.26" rx="9.79" fill="#fff"/>
                    <rect x="290.06" y="228.55" width="19.58" height="143.63" rx="9.79" transform="translate(724.26 300.72) rotate(135)" fill="#fff"/>
                  </svg>
                  <span class="text-sm text-gray-700" id="cardTotalTime_{{ recipe.id }}" data-iso8601="{{ recipe.totaltime | upcase }}"></span>
                {% endif %}
              </div>
              <h2 class="font-semibold text-xl md:text-2xl text-primary font-gelica">
                {{ recipe.title }}
              </h2>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
<script src="/js/duration.js" charset="utf-8"></script>